@{
    ViewBag.Title = "Historia";
}
<h2>@ViewBag.Title.</h2>


<p></p>
<header background="color:black" class="align-center">
    <img src="~/images/historia1.png" width="1000" height="1000" />
</header>
