@{
    ViewBag.Title = "Contacto";
}
<h2></h2>
<h3>@ViewBag.Message</h3>

<header class="align-center">
    <p>Medical Cardenas</p>
    <h2>
        Estamos aquí
        CONTÁCTANOS
    </h2>
</header>

<address>
    Nuestros numeros de contacto son.<br />
    Telefono: 733-33-31846<br />
    <abbr title="Phone">Cel:</abbr>
    7331182774
</address>

<address>
    <strong>Correo:</strong>Medical_Cardenas@hotmail.com<br />
    
</address>

<header class="align-center">
    <h2>Ubicacion</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d236.39917528022963!2d-99.60119947962026!3d18.556592261122432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cc4bba5bdcd4c1%3A0x13d6a3f07f06f2d4!2sSaturday%20Silver%20Tianguis!5e0!3m2!1ses!2smx!4v1658906006383!5m2!1ses!2smx" width="800" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</header>