@{
    ViewBag.Title = "Medical Cardenas";
}

<!DOCTYPE HTML>
<!--
    Hielo by TEMPLATED
    templated.co templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<body>

    <!-- Banner -->
    <section class="banner full">
        <article>
            <img src="~/images/Medical2.png" alt="" />
            <div class="inner">
                <header>
                    <p>Renta y venta de equipo Medico</p>
                    <h2>Medical Cardenas</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/Medical.png" alt="" />
            <div class="inner">
                <header>
                    <p>Lo mejor en..</p>
                    <h2>Profesionales En Renta De Equipo Medico</h2>
                </header>
            </div>
        </article>
        <article>
            <img src="~/images/Equipo.png" alt="" />
            <div class="inner">
                <header>
                    <p>Envios a todo Mexico..</p>
                    <h2>Medical Cardenas</h2>
                </header>
            </div>
        </article>
    </section>

    <!-- One -->
    <section id="two" class="wrapper style3">
        <div class="inner">
            <div class="grid-style">

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="~/images/neuro.jpg" alt="" width="10" height="300" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p style="color:#000000"; >Especialidad En Neurocirugia...</p>
                                <h2 style="color:black" >Amplia gama de productos</h2>
                            </header>
                            <p style="color:#000000"; >Equipo de alta especialidad, con amplia experiencia en servicios médicos en Neurocirugía.
                            Dedicados a proporcionar servicios integrales con calidad y tecnología en servicios médicos
                            con equipos de última generación.</p>
             
                        </div>
                    </div>
                </div>

                <div>
                    <div class="box">
                        <div class="image fit">
                            <img src="~/images/ventaequipo.jpg" alt="" width="10" height="300" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <p  style="color:#000000";>Variedad de Productos</p>
                                <h2  style="color:black";>100 %% Certificados</h2>
                            </header>
                            <p  style="color:#000000";>Tenemos una gran cantidad de productos que se adaptan a sus necesidades </p>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- Three -->
    <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <h2>
                    Equipos de Neurocirugía
                </h2>
                <h2>
                    La amplia gama de productos con la que contamos,
                    nos permiten cumplir con las necesidades del neurocirujano..
                </h2>
            </header>

        </div>
    </section>


    <!-- Footer -->
    <footer id="footer">

        <div class="copyright">
            &copy; Medical Cardenas. All rights reserved.
        </div>
    </footer>
</body>
</html>