@{
    ViewBag.Title = "Medical cardenas";
    Layout = "~/Views/Shared/_Layout_Administrador.cshtml";
}

    <!DOCTYPE HTML>
    <html>

    <body>

        <!-- Banner -->
        <section class="banner full">
            <article>
                <img src="~/images/slider1.jpg" alt="" />
                <div class="inner">
                    <header>
                        <p>Lo mejor en..</p>
                        <h2>Maya de Ambar</h2>
                    </header>
                </div>
            </article>
            <article>
                <img src="~/images/slider2.jpg" alt="" />
                <div class="inner">
                    <header>
                        <p>Lo mejor en..</p>
                        <h2>Ambar de Chiapas</h2>
                    </header>
                </div>
            </article>
            <article>
                <img src="~/images/slider3.jpg" alt="" />
                <div class="inner">
                    <header>
                        <p>Los mejores precios los encuentras en..</p>
                        <h2>Maya de Ambar</h2>
                    </header>
                </div>
            </article>
        </section>

        <!-- One -->
        <section id="two" class="wrapper style3">
            <div class="inner">
                <div class="grid-style">

                    <div>
                        <div class="box">
                            <div class="image fit">
                                <img src="~/images/taller.jpg" alt="" width="10" height="300" />
                            </div>
                            <div class="content">
                                <header class="align-center">
                                    <p>nuestros productos...</p>
                                    <h2>son hechos a mano</h2>
                                </header>
                                <p>Cada producto elaborado en Maya de ambar esta elaborado con la mejor calidad que usted merece...</p>

                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="box">
                            <div class="image fit">
                                <img src="~/images/Ambar.jpg" alt="" width="10" height="300" />
                            </div>
                            <div class="content">
                                <header class="align-center">
                                    <p>Nuestro ambar es 100%</p>
                                    <h2>De chiapas</h2>
                                </header>
                                <p> Maya de ambar se encarga de seleccionar el mejor ambar, lo que garantiza que su producto sea de un terminado excelente... </p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- Three -->
        <section id="two" class="wrapper style3">
            <div class="inner">
                <header class="align-center">
                    <p class="special">cada pedido para Maya de Ambar es especial para nosotros</p>
                    <h2>por eso los clientes vuelven..</h2>
                </header>

            </div>
        </section>


        <!-- Footer -->
        <footer id="footer">

            <div class="copyright">
                &copy; Maya de Ambar. All rights reserved.
            </div>
        </footer>
    </body>
    </html>